<!-- templates/author.html -->
{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Об авторе проекта
            </div>
            <div class="card-body">
                <h4>{{ author.name }}</h4>
                <p class="text-muted">{{ author.group }}</p>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <h5>Информация</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0"><strong>Имя:</strong> {{ author.name }}</li>
                            <li class="list-group-item px-0"><strong>Группа:</strong> {{ author.group }}</li>
                            <li class="list-group-item px-0"><strong>Проект:</strong> CurrenciesListApp</li>
                            <li class="list-group-item px-0"><strong>Версия:</strong> 1.0</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h5>Технологии</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0">Python 3.x</li>
                            <li class="list-group-item px-0">HTTP Server</li>
                            <li class="list-group-item px-0">Jinja2</li>
                            <li class="list-group-item px-0">Bootstrap 5</li>
                            <li class="list-group-item px-0">SQLite</li>
                            <li class="list-group-item px-0">Plotly.js</li>
                        </ul>
                    </div>
                </div>

                <div class="mt-4">
                    <h5>Описание проекта</h5>
                    <p>CurrenciesListApp - веб-приложение для отслеживания курсов валют в реальном времени.</p>

                    <p>Основные возможности:</p>
                    <ul>
                        <li>Просмотр текущих курсов валют</li>
                        <li>Управление подписками пользователей</li>
                        <li>История курсов за 90 дней</li>
                        <li>Интерактивные графики</li>
                        <li>Архитектура MVC</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
